:root { 
--gray_500:#9a9da5; 
--blue_gray_800_3f:#474a573f; 
--blue_gray_600:#5e6282; 
--blue_500:#23a6f0; 
--indigo_A200_19:#4475f219; 
--indigo_A200:#4475f2; 
--gray_300:#dedede; 
--black_900:#000000; 
--indigo_A700:#4737ff; 
--indigo_A200_3f:#4475f23f; 
--gray_500_01:#9c9c9c; 
--blue_gray_900:#181e4b; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--black_900_05:#00000005; 
}